@charset "UTF-8";


*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
}

.fundo {
   background-image: url('espaco.jpg');
   background-size: 100% 100%;
   position: relative;
   height: 100vh; 
}

.astro {
    background: url('astronauta.png') center center no-repeat;
    position: absolute;
    width: 500px;
    height: 508px;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}