body{
    background-color: rgb(9, 8, 8);
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}
a{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}