@charset "UTF-8";



body {
    font-family: Arial, Helvetica, sans-serif;
}

caption {
    background-color: lightgray;
    padding: 10px;
    font: 1.5em bold;
    color: black;
}

table {
    width: 400px;
    border-collapse: collapse;
}

thead, tfoot {
    background-color: #595959;
    font: 20px bold;
    color: white;
}

td, th {
    border: 1px solid black;
    padding: 10px;
}

td.num {
    text-align: right;
}

/* Efeito zebrado
    Para tal, podemos usar os valores 2n, 2n-1, odd ou even.
*/
tbody > tr:nth-child(even) {
    background-color: lightgray;
}